<nav id="nav-bar">
  <div class="nav-wrapper">
    <a href="./playlist.handlebars" class="brand-logo">YR-TRACKS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a id="logout" href="">Sign Out</a></li>
    </ul>
  </div>
</nav>

<form id="search-form">
  <input type="text" id="search" placeholder="Search" />
  <button id="search-btn">Search</button>

</form>
<form id="done-form">
  <input type="text" id="playlist-name" placeholder="enter playlist name" />
  <button id="done-btn">Done</button>
</form>
<script src="/javascript/search.js"></script>

<div class="songs-container">
  <div class="" id="song-card" style="overflow: auto;"></div>
</div>