<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YR-TRACKS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <nav id="nav-bar">
        <div class="nav-wrapper">
          <a href="./partials/songs.handlebars" class="brand-logo">YR-TRACKS</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ><a id="logout" href="">Logout</a></li>
          </ul>
        </div>
      </nav>
      
      <a href="./partials/songs.handlebars"><img src="./images/add_circle.svg" id="add-playlist"></a>
        
    <div class="playlist-container">
        <div class="" id="playlists"></div>
        <div class="" id="playlist-card"></div>
      </div>
      <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
      {{#if loggedIn}}
<script src="/public/javascript/logout.js"></script>
{{/if}}
</body>
</html>