{{> songs}}
        
    <div class="playlist-container">
        <div class="" id="playlists"></div>
        <div class="" id="playlist-card"></div>
      </div>
      <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
      {{#if loggedIn}}
<script src="/public/javascript/logout.js"></script>
{{/if}}
