<div class="center">
  <h1 class="head-text">YR-TRACKS</h1>
  <div id="login">

    <h2 class="login-text">Login</h2>
    <form action="">
      <input
        type="email"
        id="email-login"
        class="user-input"
        placeholder="Email"
      />
      <input
        type="password"
        id="password-login"
        class="user-input"
        placeholder="Password"
      />
      <button id="login-button">Login</button>
      <button id="signup-button">Sign Up</button>
    </form>

  </div>
</div>

<script src="/public/javascript/login.js"></script>