<div class="center">
  <h1 class="head-text">YR-TRACKS</h1>
  <div id="login">

    <form action="">
      <input
        type="email"
        id="email-login"
        class="user-input"
        placeholder="Email"
      />
      <input
        type="password"
        id="password-login"
        class="user-input"
        placeholder="Password"
      />
      <button id="login-button">Login</button>
      <br />
      <br />
      <input type="email" id="email" class="user-input" placeholder="Email" />
      <input
        type="password"
        id="password"
        class="user-input"
        placeholder="Password"
      />
      <input
        type="password"
        id="reenter-password"
        class="user-input"
        placeholder="Re-Enter Password"
      />
      <button id="signup-button">Sign Up</button>
    </form>

  </div>
</div>

<script src="/javascript/login.js"></script>