
    <div class="center">
        <h1 class="head-text">YR-TRACKS</h1>
        <div id="login">

            <h2 class="login-text">Login</h2>
            <form action="">
                <input type="email" id="email" class="user-input" placeholder="Email">
                <input type="password" id="password" class="user-input" placeholder="Password">
                <a href="signup.handlebars" id =sign-up">Sign Up</a>
                <button id="login-button">Login</button>
            </form>

        </div>
    </div>

<script src="/public/javascript/login.js"></script>